{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": 2,
    "yoda": 2,
    "curly": 2,
    "indent": 2,
    "eqeqeq": 2,
    "new-cap": 2,
    "eol-last": 2,
    "use-isnan": 2,
    "wrap-iife": 2,
    "camelcase": 2,
    "complexity": 2,
    "comma-style": 2,
    "key-spacing": 2,
    "dot-notation": 2,
    "semi-spacing": 2,
    "guard-for-in": 2,
    "valid-typeof": 2,
    "comma-dangle": 2,
    "arrow-parens": 2,
    "prefer-const": 2,
    "default-case": 2,
    "arrow-spacing": 2,
    "comma-spacing": 2,
    "block-spacing": 2,
    "global-require": 0,
    "spaced-comment": 2,
    "callback-return": 2,
    "keyword-spacing": 2,
    "space-unary-ops": 2,
    "space-infix-ops": 2,
    "space-in-parens": 2,
    "block-scoped-var": 2,
    "prefer-rest-params": 1,
    "space-before-blocks": 2,
    "handle-callback-err": 2,
    "max-nested-callbacks": 2,
    "array-bracket-spacing": 2,
    "array-callback-return": 2,
    "prefer-arrow-callback": 1,
    "generator-star-spacing": 2,
    "computed-property-spacing": 2,
    "no-var": 2,
    "no-new": 2,
    "no-eval": 2,
    "no-with": 2,
    "no-void": 2,
    "no-undef": 2,
    "no-proto": 2,
    "no-octal": 2,
    "no-alert": 2,
    "no-labels": 2,
    "no-caller": 2,
    "no-bitwise": 2,
    "no-console": 2,
    "no-debugger": 2,
    "no-iterator": 2,
    "no-continue": 2,
    "no-new-func": 2,
    "no-div-regex": 2,
    "no-loop-func": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-label-var": 2,
    "no-multi-str": 2,
    "no-lonely-if": 2,
    "no-redeclare": 2,
    "no-sequences": 2,
    "no-obj-calls": 2,
    "no-ex-assign": 2,
    "no-new-object": 2,
    "no-new-symbol": 2,
    "no-extra-semi": 2,
    "no-delete-var": 2,
    "no-script-url": 2,
    "no-new-require": 2,
    "no-cond-assign": 2,
    "no-self-assign": 2,
    "no-lone-blocks": 2,
    "no-func-assign": 2,
    "no-else-return": 2,
    "no-unused-vars": 2,
    "no-unreachable": 2,
    "no-fallthrough": 2,
    "no-new-wrappers": 2,
    "no-self-compare": 2,
    "no-multi-spaces": 2,
    "no-regex-spaces": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-implied-eval": 2,
    "no-useless-call": 2,
    "no-octal-escape": 2,
    "no-throw-literal": 2,
    "no-sparse-arrays": 2,
    "no-return-assign": 2,
    "no-unsafe-finally": 2,
    "no-param-reassign": 2,
    "no-useless-escape": 2,
    "no-useless-concat": 2,
    "no-invalid-regexp": 2,
    "no-negated-in-lhs": 2,
    "no-duplicate-case": 2,
    "no-trailing-spaces": 2,
    "no-inline-comments": 2,
    "no-confusing-arrow": 2,
    "no-unneeded-ternary": 2,
    "no-floating-decimal": 2,
    "no-implicit-coercion": 2,
    "no-duplicate-imports": 2,
    "no-case-declarations": 2,
    "no-this-before-super": 2,
    "no-use-before-define": 2,
    "no-constant-condition": 2,
    "no-unused-expressions": 2,
    "no-inner-declarations": 2,
    "no-extra-boolean-cast": 2,
    "no-dupe-class-members": 2,
    "no-unexpected-multiline": 2,
    "no-irregular-whitespace": 2,
    "no-useless-computed-key": 2,
    "no-empty-character-class": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-unmodified-loop-condition": 2,
    "no-whitespace-before-property": 2,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-underscore-dangle": [
      2,
      {
        "allow": [
          "_disinfect"
        ]
      }
    ],
    "operator-linebreak": [
      2,
      "before"
    ],
    "arrow-body-style": [
      2,
      "always"
    ],
    "dot-location": [
      2,
      "property"
    ],
    "brace-style": [
      2,
      "stroustrup"
    ],
    "quote-props": [
      2,
      "as-needed"
    ],
    "quotes": [
      2,
      "single"
    ],
    "one-var": [
      2,
      "never"
    ],
    "strict": [
      2,
      "global"
    ]
  },
  "globals": {}
}
